<!--The content below is only a placeholder and can be replaced.-->

<div class="container col-md-12">
  <div class="banner" style="text-align:center">
    <h1>
      Welcome to <span class="app-title">{{title}}</span>!
    </h1>
    <img width="300" src="assets/images/logos/ft-small.png">
  </div>
  <div class= "col-md-6 offset-md-3">
    <section class="row">
      <p class="lead">Food Truck Cashier is customizable solution for every Food Truck's cashiering needs. This is the future of <em>fast</em>-food.</p>
      <ul class="list-group col-md-6">
        <strong>We aim to:</strong>
        <li class="list-group-item">Decrease the costs of additional employees</li>
        <li class="list-group-item">Eliminate clerical error</li>
        <li class="list-group-item">Increase throughput at the POS</li>
        <li class="list-group-item">Free up time for the owners to focus on the food and the customers</li>
      </ul>
      <ul class="list-group col-md-6">
        <strong>Our app solves this by:</strong>
        <li class="list-group-item">Enabling the customers to build orders and complete transactions</li>
        <li class="list-group-item">Allowing the managers to dynamically build and manage their menus</li>
      </ul>
      <a class="survey btn btn-outline-primary offset-md-3" href="">
        <img width="25" src="assets/images/icons/page.png" alt="">
        Fill out a quick survey help us help you!
      </a>
    </section>
  </div>
</div>