<div class="container col-md-12">
  <div class="banner" style="text-align:center">
    <img width="400" src="assets/images/logos/orderUpOrange.png" class="">
    <!-- <h1>
      Welcome to <span class="app-title">{{title}}</span>!
    </h1> -->
    <!-- <img width="300" src="assets/images/logos/ft-small.png"> -->
  </div>
  <div class= "col-md-8 offset-md-2">
    <section class="row">
      <p class="lead col-lg-8 offset-lg-2">Order Up! is a customizable solution for every Food Truck's cashiering needs. This is the future of <em>fast</em>-food.</p>
      <ul class="list-group col-md-6">
        <strong>We aim to:</strong>
        <li class="list-group-item">Decrease the costs of additional employees</li>
        <li class="list-group-item">Eliminate clerical error</li>
        <li class="list-group-item">Increase throughput at the POS</li>
        <li class="list-group-item">Free up time for the owners to focus on the food and the customers</li>
      </ul>
      <ul class="list-group col-md-6">
        <strong>Our app solves this by:</strong>
        <li class="list-group-item">Enabling the customers to build orders and complete transactions</li>
        <li class="list-group-item">Allowing the managers to dynamically build and manage their menus</li>
      </ul>
      <div class="link-group col-md-12 offset-lg-3 col-lg-6">
        <a class="survey btn btn-outline-primary main-link col-lg-12" href="https://goo.gl/forms/2hrkB8VKHTR5Fh9n2" target="_blank">
          <img width="25" src="assets/images/icons/page.png" alt="">
          Fill out a quick survey help us help you!
        </a>
        <a class="btn btn-outline-primary main-link col-lg-12" href="https://www.dropbox.com/sh/3gv26epss9dmtjg/AABiIpQsN5r6wKOqELqZNmFFa?dl=0" target="_blank">Click here to see our mockup documents!</a>
      </div>
    </section>
  </div>
  <footer class="footer col-lg-12 row">
    <p class="small col-lg-8 offset-lg-2">If you're interested in learning more about our app, or are interested in this project, leave your contact info <a href="https://goo.gl/forms/ZbyVBvQJ95OvdiRU2" target="_blank">here</a>.</p>
  </footer>
</div>